%p#notice= notice

%p
  %b Username:
  = @user.username
%p
  %b Number:
  = @user.number
%p
  %b Msg:
  = @user.msg
%p
  %b Send:
  = @user.send

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
